body {
    background-image: url('banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#mlogo {
    width: 55px;
    height: 55px;
}
#rolunk{
    text-align: center;
}
#rtartalom {
    text-align: center;
    font-size: 20px;
}
#textcube {
    background-color: aliceblue;
    text-align:center;
    width: 800px;
    margin: 0 auto;
    border-style: outset;
}