body {
  background-image: url("banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#mlogo {
  width: 55px;
  height: 55px;
}
#rolunk {
  text-align: center;
  color: rgb(0, 0, 0, 80%);
}
.rtartalom {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0, 80%);
}
#textcube {
  background-color: hsl(0, 0%, 50%, 80%);
  text-align: center;
  width: 800px;
  margin: 0 auto;
  border-style: outset;
  border: 6px rgb(0, 0, 0, 80%) outset;
}
/* aliceblue */
h3 {
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 35px;
}

a:link {
  color: rgb(201, 201, 8);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(61, 61, 23);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 54);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

html {
  color: white ;
}

@font-face {
  font-family: Rethink Sans;
  src: url();
}

iframe {
  max-width: 530px;
  width: 80% !important;
}
/* Mobile screen comp */
@media only screen and (max-width: 600px) {
  #textcube {
    width: 100%;
    margin: none;
  }
}
@media only screen and (max-width: 820px) {
  #textcube {
    width: 100%;
  }
}
#offcanvas-wrapper.force-hide:not(.hide) {
  display: flex !important;
  overflow: auto;
  width: auto !important;
}
